%h1 Websockets chat

- if @nickname
  #nick
    Welcome
    = @nickname
  - if @chat_rooms
    #chat-rooms
      %h3 Choose a chat room
      = select_tag 'available_rooms', options_for_select(@chat_rooms.collect{ |room| [room.title, room.title.gsub(' ', '').underscore] })
- else @nickname
  %label{for: 'nickname'} Nickname
  %input{id: 'nickname'}
  %input{type: 'submit', id: 'set-nick', value: 'Set Nickname'}


