%h1 Chats#index
%p Find me in app/views/chats/index.html.haml

- if @nickname
  #nick
    Welcome
    = @nickname
  #chat-rooms
    %h3 Choose a chat room
- else @nickname
  %label{for: 'nickname'} Nickname
  %input{id: 'nickname'}
  %input{type: 'submit', id: 'set-nick', value: 'Set Nickname'}


